.entire{
  display: flex;
  flex-direction: row;
  width: 80vw;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0 0 10px black;
  color: red;
}
.entire .h3{
  width: 5em;
  margin-right: 1em;
  height: 3em;
  border: 0 2px 0 2px solid black;
}
