body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin: 0;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Palatino';
    background-color: #78cdd0;
    margin-top: auto;
    z-index: 1;
}
.footer .footcol{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 1em;
}
.footer .footcol h3{
    font-size: small;
    text-align: left;
}
.footer .footcol .footrow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer .footcol .footrow p{
    font-size: small;
    text-align: left;
    padding-top: 3px;
    margin:0px;
    margin-bottom: 0.5em;
}
.footer .footcol .footrow button{
    font-family: 'Palatino';
    font-size: x-small;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.footer .footcol .footrow button:hover{
    background-color: rgb(0, 0, 0);
    transition: 0.25s all;
    color: white;
}
.footer img{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    z-index: 2;
    padding-right: 1em;
}